<section class="hero is-large">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="current">
                        <!--<div class="column">-->

                        <!--</div>-->
                    </div>
                    <div class="forecast">

                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column is-10 is-offset-1">
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            <input type="text" class="input" placeholder="Location">
                        </div>
                        <div class="control">
                            <a class="button is-primary">
                                <span class="icon">
                                    <i class="fa fa-search"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--<p>-->
                        <!--<span class="latitude"></span> |-->
                        <!--<span class="longitude"></span> |-->
                        <!--<span><span class="icon"><i class="fa fa-globe"></i></span><span class="location-details">Melbourne</span></span>-->
                    <!--</p>-->
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal is-active location-check">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="columns">
                <div class="column">
                    <h4 class="is-4 title has-text-centered">Location Check</h4>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <p class="location-message">
                        Checking your local weather requires your location, when you hit check weather your browser will
                        ask for permission to do this, make sure you allow it!
                    </p>
                </div>
            </div>
            <div class="columns">
                <div class="column is-offset-one-third">
                    <button class="button is-info">Check Weather!</button>
                </div>
            </div>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>