.navbar {
  &.is-dark {
    background: $dark-bg;
    .navbar-brand {
      .navbar-item {
        color: $whitesmoke;
      }
    }
  }
}
// other shit to move into another file
.info-item {
  border: 1px solid $dark-bg;
  border-radius: 3px;
  display: inline-grid;
  min-width: 54px;
  .info-icon {
    padding-top: 2px;
    margin-bottom: -2px;
    object {
      height: 36px;
    }
  }
  .info-time {
    background: $dark-bg;
    color: $whitesmoke;
  }
}